@charset "UTF-8";


/* form styling */
body {
    background-color: #add8e6; 
}

#wrapper {
	width: 60%;
	margin-left:4%;
  position: absolute;
  left: 25%;
  text-align: center; 
  
   
}

div#formcol1 {
	float:left;	
	width: 100%;
}
div#insturctions{
  background-color: #e8f4f8; 
    padding: 10px; 
    border: 2px solid #3a9fbf;
}
label {
margin-right: .3em;
width: 9em; 
display: inline-block; 
}
#formcol1 li {
list-style:none;
}
fieldset {
    background-color: white;
    padding: 10px;
    border: 2px solid #3a9fbf;
}

/* end of form css */
	